<div id="form">

<% form_for @message do |f| -%>

	<p><%= f.label "Enter your message here:" %><%= f.text_area :contents, :rows => "10", :cols => "40" %></p>

  <%= f.submit "Create", :class => "submit" %>

<% end -%>

</div>