/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('/images/bodybg.png');
	font-family: Helvetica, Arial, "sans-serif";
	color: #0a1304;
	
}

a {
	color:#D02B55;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
	width: 600px;
	background-color: #dfe0df;
	margin: auto;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	border-top: none;
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

header {
	background-image: url('/images/headerbg.png');
	margin-bottom: 4px;
	border-bottom: solid 1px #b3b4b3;
}

.errors {
	width: 300px;
	color: #040404;
	letter-spacing: .2px;
	background-color: #ffb9b9;
	margin: 15px 0 10px 30px;
	border: solid;
	border-width: 3px;
	border-color: #ff0021;
	font-size: 12px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.errors li {
	padding: 7px 3px 7px 26px;
	background-image: url('/images/error.png');
	background-repeat: no-repeat;
	background-position: 6px 5px ;
}

.logo {
	margin: 14px 0 -3px -0px;
}

.ribbon {
	float: right;
	margin: 65px -24px 0 0;
}

#form {
	margin: 20px 30px 50px 30px;
}

#form h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px;
}

#form textarea {
	margin-top: 5px;
	width: 530px;
	height: 180px;
}

#form label {
	font-size: 14px;
	line-height: 22px;
}

#form .submit {
		font-size: 16px;
}

.create {
	width: 450px;
}


.create_button{

	margin-top: 10px;
	font-size: 18px;
}





#form input{
	/* float:right; */
}

textarea.comment_input {
	width: 462px;
	height: 80px;
	font-size:13px;
	margin-top: 5px;
}

div.comment_entry {
	background-color: #ddf1f3;
	padding: 15px 15px 35px 15px;
	
	-webkit-box-shadow: 	0 0 5px #bbb;
	  -moz-box-shadow: 		0 0 5px #bbb;
	  box-shadow: 				0 0 5px #bbb;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.comment_entry p {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	font-size: 18px;
	font-weight:bold;
	margin-bottom: 5px;
}

.comment_entry label {
	font-size: 12px;
	line-height: 10px;
}

.comment_entry input {
	margin-bottom: 10px;
		font-size: 14px;
}



.submit {
	float: right; 
}

input.comment_submit {
	float: right;
}

.notice {
	width: 300px;
	color: #2f6109;
	background-color: #aad990;
	padding: 6px 3px 6px 28px;
	margin-left: 30px;
	margin-bottom: 10px;
	border: solid;
	border-width: 2px;
	border-color: #2a5608;
	font-size: 12px;
	background-image: url('/images/check.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.sign_in_nav{
	text-align: right;
	margin-right: 32px;
	margin-bottom: 10px;
	clear:right;
}

.sign_in_nav li{
	display: inline;
	padding: 0 0 0 5px;
	font-size: 13px;
}


.message_list h1{
	color:#fefefe;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px;
	padding-bottom: 8px;
}

.message_list{
	width: 520px;
	background-image:url('/images/message_area.png');
	background-size:auto 100%;
	margin-left: 30px;
	font-size: 12px;
	padding: 6px 10px 1px 10px;
	-moz-box-shadow: 0px 0px 2px #333;
	-webkit-box-shadow: 0px 0px 2px #333;
	box-shadow: 0px 0px 2px #333;
}

form#new_message.new_message{
 	width:100%;
}

.message_details{
	background-image:url('/images/message_bg.png');
	padding:8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-style: none;
	-moz-box-shadow: 0px 1px 2px #333;
	-webkit-box-shadow: 0px 1px 2px #333;
	box-shadow: 0px 1px 2px #333;
	margin-bottom:10px;
}

.message_details ul.message_header{
	padding: 3px 8px 5px 8px;
	font-size:18px;
/*	background-image:url('/images/message_details.png'); */
		background-color: #fff;

/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px ;
	border-style: none; */
	text-align:center;
	-moz-box-shadow:    inset 0 0 2px #535353;
  -webkit-box-shadow: inset 0 0 2px #535353;
  box-shadow:         inset 0 0 2px #535353;
}

.message_list a{
	color:#333;
}

.message_list a:hover{
	color:#D02B55;
}


ul.commands {
	margin-bottom:5px;
	
}

ul.commands li{
	display:inline;
	font-size:16px;
}

ul.commands li.edit:hover{
	background-color:#3eb826;
}

li.edit:hover a{
	color:#eee;
}

ul.commands li.delete:hover{
	background-color:#b82626;
}

li.delete:hover a{
	color:#eee;
}



ul.commands li a{
	text-decoration:none;
}

ul.commands li a img{
	text-decoration:none;
	display:inline;
}


li.edit{
	background-color:#efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: none;
	padding:2px 5px 2px 5px;
}

li.delete{
	float:right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: none;
	padding:2px 5px 2px 5px;
}

.message_details img{
	vertical-align:bottom;
}

.message_contents{
	font-size:14px;
	line-height:18px;
	padding:15px 0 20px 5px;
}

.message_details li{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 16px;
	display:inline;
}


.amazon {
	float: right;
	clear: left;
	margin-right: -210px;
}

.amazon_user_page {
	float: right;
	margin-right: -140px;
}

.content {
	font-size: 14px;
	width: 500px;
	padding: 0 0 20px 30px;
}

#content{
	margin: 0 30px 20px 30px;
}

#content h1{
	margin-bottom: 15px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 20px;
}

.about_page {
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fcfcfc;
	-moz-box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
	box-shadow: 0px 0px 2px #666;
}

#content p{
	margin-bottom: 15px;
	line-height: 22px;
	font-size: 15px;
}

#footer{
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 12px;
}

.message {
	line-height: 120%;
	background-color: #fcfcfc;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}

.message h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px ;
	margin: 10px 0 10px 0;
}


.message p {
	padding-bottom: 10px;
}

.message p:last-child {
	padding-bottom: 0px;
}

#form textarea {
	font-size: 16px;
	resize: vertical;
	padding: 10px;
}

#form label.form_header {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px;
}

#form form {
	margin-bottom: 25px;
	margin-left: 0px;
}

#form div.check_area {
	font-size:14px;
	margin-top: 15px;
	margin-bottom: 8px;
}

#form div.check_area span.label {
	margin-left: 6px;
}

.has_account{
	line-height: 40px;
}

.logged_in_as{
	margin: 0 0 15px 30px;
	line-height:18px;
	font-size: 14px;
}

#account {
	width: 445px;
	margin: 0px 0 0 30px;
	color: #080808;
	background-color: #fefefe;
	background-image: url('/images/new.png');
	background-repeat: no-repeat;
	background-position: 20px 20px;
	padding: 7px 7px 7px 85px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 1px 3px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	box-shadow: 0px 1px 3px #999;
}

#account ul {
	font-size: 14px;
	list-style: none;
	line-height: 16px;
	margin-top: 5px;
}

#account li{
	background-image: url('/images/save.png');
	background-repeat: no-repeat;
	background-position: 14px 1px;
	padding: 3px 0 0px 35px;
	margin-top: 5px;
}

#account li.stats{
	background-image: url('/images/stats.png');
	padding-bottom: 6px;
}

#account li.alerts{
	background-image: url('/images/email_alert.png');
}


#account li.heart{
	background-image: url('/images/heart.png');
}

#account h1 {
	margin: 12px 0 0 15px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px;
}

#account span.link{
	color: #f00;
	font-size: 15px;
	padding-left: 2px;
}

#form p label{
	font-size: 20px;
	line-height: 24px;
	margin-left: 3px;
}

#howto {
	width: 380px;
	margin: 20px 0 0 30px;
	color: #080808;
	background-color: #fefefe;
	background-image: url('/images/pencil.png');
	background-repeat: no-repeat;
	background-position: 20px 20px;
	padding: 7px 7px 7px 150px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 1px 3px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	box-shadow: 0px 1px 3px #999;
}

#howto ul {
	font-size: 12px;
	list-style: none;
	line-height: 16px;
	margin-top: 5px;
}

#howto li{
	padding: 1px 0 1px 19px;
	margin-top: 5px;
}

#howto li:last-child{
	padding-bottom: 12px;
}

#howto h1 {
	margin: 12px 0 0 15px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 25px;
}

.share {
	font-size: 20px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	padding-bottom: 40px;
	line-height: 25px;
}

.make_your_own {
	padding: 20px 0 0 0;
}

.tips {
	padding: 15px;
	margin: 15px 30px 25px 30px;
	color: #f3fefe;
	background-color: #292929;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tips ul {
	background-color: #fff;
	color: #090909;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 3px;
	padding: 8px 8px 8px 8px;
}

.tips li {
	font-size: 13px;
	padding-bottom: 10px;
}

.tips ul li:last-child {
	padding-bottom: 0px;
}

.tips h1 {
	color: #fefefe;	
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 25px;
	letter-spacing: 3px;
}

.tips h2 {
	margin-top: 10px;
	letter-spacing: 3px;
}

.custom {
  background-color: #efefef;
	margin-top: 10px;
	margin-left: 2px;
	padding: 8px;
	font-size: 12px;
	width: 438px;
}

.custom input{
	font-size: 22px;
	color: #084ac3;
}

.custom p{
	margin-top: 10px;
	font-size: 22px;
	
}

div.field {
	margin: 0 0 10px 30px;
	font-size: 16px;
}

.field_with_errors input{
	background-color: #ffb9b9;
	border: 3px solid #e23535;
}

.sign_in{
	margin-left: 30px;
	/*background-image: url('/images/account.png');
		background-repeat: no-repeat;
		background-position: 250px 20px;*/
}

.user_settings {
	margin: 0 30px 30px 30px;
	background-color: #fefefe;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
	box-shadow: 0px 0px 2px #666;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	font-size: 13px;
}

.user_settings img{
	float:right;
	margin: 10px 5px 10px 0;
	-moz-box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
	box-shadow: 0px 0px 2px #666;
}

img.profile {
	float:none;

	border:solid;
	border-width:3px;
}

.user_settings form{
	line-height: 18px;
}

.user_settings label{
	line-height:20px;
}

.user_settings input#user_comment_alert{
	margin-left:15px;
}

.user_settings input{
	font-size: 16px;
}

.user_settings input#user_submit{
	margin-bottom:0px;
}

.user_settings input#user_friend_code{
	font-size:18px;
}

.user_settings input.submit_reset {
		font-size: 16px;
}


.user_settings input#user_submit{
	font-size: 16px;
}

.user_settings hr {
	width:100%;
	height:1px;
	color:#ddd;
	background-color:#ddd;
	border:none;
}

.user_settings h2 {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	font-size: 14px ;
	font-weight:bold;
	margin-bottom: 8px;
}

.user_settings h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 18px ;
	margin-bottom: 10px;
}

.user_settings .setting {
	margin-bottom: 20px;
}


.sign_in label{
	font-size: 12px;
}




.sign_in h1{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:bold;
	font-size: 25px;
	margin-bottom: 10px;
}

.sign_in input{
	font-size: 14px;
	margin-bottom: 16px;
}

.sign_up_submit {
	margin-left: 30px;
}

.comment_box {
	margin-top: 45px;
	padding:8px;
	background-color:#000;
	background-image:url('../images/comment_bg.png');	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
}

.comment_box h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	font-size: 24px;
	font-weight:bold;
	margin-bottom: 4px;
	letter-spacing: 0px;
	text-shadow: #ccc 1px 1px 1px;
	margin-left: 7px;
}

span.comment_author {
	color:white;
}

a.delete {
	display:block;
	text-decoration:none;
	text-indent: -6000px;
	color:#000;
	outline: none;
	width: 16px;
	height: 16px;
	background: url('../images/delete_3.png');
	float:right;
}

.comment_box a:hover {
	background-position:left bottom;
}

.comment_box .comment_info {
	padding:3px;
	background-color:#7e7e7e;
	color:#dedede;
	margin-bottom:4px;
	text-shadow: #000 0px -1px 0px;
	border-bottom: 1px solid;
	border-color:#232;	
}

.comment {
	background-color:#eee;
	font-size:13px;
	line-height: 16px;
	margin-top:6px;
	padding:6px;
	
		-webkit-box-shadow: 0 8px 5px -6px #353;
		   -moz-box-shadow: 0 8px 5px -6px #353;
		        box-shadow: 0 8px 5px -6px #353;
}

.comment_box img {	
	align:bottom;
	}


html,body { height:100%; }