/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('/images/bodybg.jpg');
	font-family: Helvetica, Arial, "sans-serif";
	color: #0a1304;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
	width: 600px;
	background-color: #dfe0df;
	margin: auto;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-style: solid;
	border-color: #727272;
	border-width: 1px;
	border-top: none;
}

header {
	background-image: url('/images/headerbg.png');
	margin-bottom: 8px;
	border-bottom: solid 1px #b3b4b3;
}

.errors {
	width: 300px;
	color: #ebebeb;
	background-color: #e23535;
	padding: 3px 3px 3px 22px;
	margin-left: 30px;
	margin-bottom: 10px;
	border: solid;
	border-width: 2px;
	border-color: #6f1c1c;
	font-size: 12px;
	background-image: url('/images/error.png');
	background-repeat: no-repeat;
	background-position: 1px 1px;
}

.logo {
	padding: 15px 0 0px 20px;
}

.ribbon {
	float: right;
	margin: 65px -24px 0 0;
}

#form {
	padding: 0 0 0 30px;
}

#form label {
	font-size: 14px;
	line-height: 22px;
}

.create {
	width: 26.5em;
}

.submit {
	float: right;
}

.notice {
	width: 300px;
	color: #2f6109;
	background-color: #aad990;
	padding: 3px 3px 3px 22px;
	margin-left: 30px;
	margin-bottom: 10px;
	border: solid;
	border-width: 2px;
	border-color: #2a5608;
	font-size: 12px;
	background-image: url('/images/accept.png');
	background-repeat: no-repeat;
	background-position: 1px 1px;
}

.content {
	font-size: 14px;
	width: 500px;
	padding: 0 0 20px 30px;
}

.message {
	line-height: 120%;
	background-color: #fcfcfc;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}

.message p {
	padding-bottom: 10px;
}

.message p:last-child {
	padding-bottom: 0px;
}

#form textarea {
	font-size: 16px;
}

#form form {
	margin-bottom: 45px;
}

#howto {
	width: 500px;
	margin: 15px 0 25px 30px;
	color: #080808;
	background-color: #fefefe;
	padding: 7px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#howto ul {
	font-size: 12px;
	list-style: none;
	line-height: 16px;
	margin-top: 5px;
}

#howto li{
	background-image: url('/images/bullet.png');
	background-position: 0 3px;	
	background-repeat: no-repeat;
	padding: 0 0 10px 11px;
}

#howto li:last-child{
	background-image: url('/images/bullet.png');
	background-position: 0 3px;	
	background-repeat: no-repeat;
	padding: 0 0 5px 11px;
}

#howto h1 {
	font-family: 'Chewy';
	font-size: 30px;
}

.share {
	font-size: 20px;
	padding-bottom: 40px;
}

.make_your_own {
	padding: 20px 0 0 0;
}

.tips {
	width: 490px;
	padding: 10px;
	margin: 15px 0 25px 30px;
	color: #f3fefe;
	background-color: #292929;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: dashed;
	border-color: #dadada;
	border-width: 1px;
}

.tips ul {
	background-color: #fff;
	color: #090909;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 3px;
	padding: 8px;
}

.tips li {
	font-size: 13px;
	padding-bottom: 10px;
}

.tips ul li:last-child {
	padding-bottom: 0px;
}

.tips h1 {
	color: #2cc82a;
	font-size: 30px;
	font-family: 'Chewy', Helvetica, Arial, 'sans-serif';
	letter-spacing: 3px;
}

.tips h2 {
	margin-top: 10px;
	letter-spacing: 3px;
}

.custom {
	font-size: 14px;
}

.custom p {
	font-size: 10px;
}


html,body { height:100%; }