<div id="content"><h1>About 3dstxt</h1><p>This site was built on a MacBook Air using Ruby on Rails and is hosted on <%= link_to "Heroku", "http://heroku.com" %>. 3dstxt.com was created by Scott Moschella who doesn't think anyone is too old to own a Nintendo 3DS.</p>
	
	<p>Hopefully Nintendo fixes the 3DS's messaging capability. Until then, I hope you find this site useful for making new friends via StreetPass.</p>
	
	<p>Scott Moschella is a TV producer and a Rails developer. He can be reached on Twitter <%= link_to "@plasticbugs", "http://twitter.com/plasticbugs" %> or at <%= link_to "3dstxt.com/scott", "/scott" %>.</p>	</div>