<% if @game_collection %>
<% @game_collection.each do |game| %>
<p style="font-size:20px; margin-bottom:20px;">	<%= game['ItemAttributes']['Title'] %><br/>
	Publisher: <%= game['ItemAttributes']['Publisher'] %><br/>
	<%= image_tag(game['LargeImage']['URL'], :style => 'width:40%;') %>
	</p>
<% end %>
<% end %>